apiVersion: apps/v1
kind: Deployment
metadata:
  name: plex-auto-languages
spec:
  replicas: 1
  selector:
    matchLabels:
      app: plex-auto-languages
  template:
    metadata:
      labels:
        app: plex-auto-languages
    spec:
      containers:
        - name: plex-auto-languages
          image: remirigal/plex-auto-languages:latest
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "America/Chicago"
            - name: PLEX_URL
              value: http://plex-media-server:32400
            - name: PLEX_TOKEN
              valueFrom:
                secretKeyRef:
                  name: plex-auto-languages-secrets
                  key: plex_token
          volumeMounts:
            - name: plex-auto-languages-config
              mountPath: /config/config.yaml
              subPath: config.yaml
            - name: plex-auto-languages-data
              mountPath: /config
      initContainers:
        - name: fix-permissions
          image: busybox
          command:
            - sh
            - -c
            - |
              mkdir -p /config
              cp /config-source/config.yaml /config/config.yaml
              chown -R 1000:1000 /config
          volumeMounts:
            - name: plex-auto-languages-config
              mountPath: /config-source
            - name: plex-auto-languages-data
              mountPath: /config
      restartPolicy: Always
      volumes:
        - name: plex-auto-languages-config
          configMap:
            name: plex-auto-language-config-cm
        - name: plex-auto-languages-data
          emptyDir: {}

