apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cloudflared
  template:
    metadata:
      labels:
        app: cloudflared
    spec:
      containers:
        - name: cloudflared
          image: cloudflare/cloudflared:latest
          args:
            - tunnel
            - --no-autoupdate
            - run
          env:
            - name: TUNNEL_TOKEN
              valueFrom:
                secretKeyRef:
                  name: cloudflare-token
                  key: cloudflared-token
          volumeMounts:
            - name: cloudflared-config
              mountPath: /etc/cloudflared/config.yaml
              subPath: config.yaml
      volumes:
        - name: cloudflared-config
          configMap:
            name: cloudflared-config-cm
