apiVersion: v1
kind: Service
metadata:
  name: plex-media-server
spec:
  type: NodePort
  selector:
    app: plex
  ports:
    - name: tcp-32400
      protocol: TCP
      port: 32400
      targetPort: 32400
      nodePort: 32400
